- Is the website redesign any good?

> H0: The website design is good<b>

> Ha: The website design is not good<b>
    
------------------------------------------------------------------------    

True negative: design is good & accepted design is good


------------------------------------------------------------------------    


Type  I: design is good but reject design good 

------------------------------------------------------------------------    

Type II: design is not good but accept as good 

------------------------------------------------------------------------    

True positive: design is not good and reject design is good

- Is our television ad driving more sales?

> H0: The tv ads drive more sales<b>

> Ha: The tv ads does not drive more sales<b>
    
------------------------------------------------------------------------    

True negative: ads drive more sales and accept ads do drive more sales


------------------------------------------------------------------------    


Type  I: ads drive more sales BUT reject ads drive more sales 

------------------------------------------------------------------------    

Type II: ads do not drive more sales BUT accept ads drive more sales  

------------------------------------------------------------------------    

True positive: ads do not drive more sales and reject ads drive more sales

- Has the network latency gone up since we switched internet service providers?

> H0: network latency is related to the change in service provider <b>

> Ha: network latency is not related to the change in service provider <b>
    
------------------------------------------------------------------------    

True negative: network latency is related to the change in service provider, accept the relationship


------------------------------------------------------------------------    


Type  I: network latency is related to the change in service provider, BUT reject the relationship 

------------------------------------------------------------------------    

Type II: network latency is NOT related to the change in service provider, BUT accept the relationship  

------------------------------------------------------------------------    

True positive: network latency is NOT related to the change in service provider, and also reject the relationship

In [1]:
from math import sqrt
from scipy import stats

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. 

- A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. 


- A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. 


- Use a .05 level of significance.

> H0: No difference in avg home selling time between two offices
    
> Ha: Average time it takes to sell homes is different for its two offices

In [180]:
dist_1 = stats.norm(90, 15).rvs(40)
dist_2 = stats.norm(100,20).rvs(50)

# n1 = 40
# n2 = 50

# μ1 = 90
# μ2 = 100

# σ1 = 15
# σ2 = 20

# α = 0.05

print(stats.ttest_ind(dist_1, dist_2))
# Reject H0, Average time is different, p-value of 0.0092

Ttest_indResult(statistic=-2.6626664253369667, pvalue=0.009217032158420223)

Load the mpg dataset and use it to answer the following questions:

- Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

- Are compact cars more fuel-efficient than the average car?

- Do manual cars get better gas mileage than automatic cars?

In [181]:
from pydataset import data

In [183]:
mpg = data("mpg")
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

- H0: There is no difference in fuel-efficiency in cars from 2008 vs 1999
- Ha: There is difference in fuel-efficiency in cars from 2008 vs 1999
- set α = 0.05

> p-value = 0.82 > α, fail to reject H0, might be no difference

In [35]:
mpg["avg_mileage"] = (mpg.cty + mpg.hwy)/2
mpg_1999 = mpg[mpg["year"] == 1999].avg_mileage
mpg_2008 = mpg[mpg["year"] == 2008].avg_mileage

t_mpg = (stats.ttest_ind(mpg_1999 , mpg_2008))
t_mpg

Ttest_indResult(statistic=0.21960177245940962, pvalue=0.8263744040323578)

Are compact cars more fuel-efficient than the average car?
- H0: There is no difference in fuel-efficiency between compact cars and other cars
- Ha: There is a difference in fuel-efficiency between compact cars and other cars
- set α = 0.05

> p-value = 1.31e-10 < α, reject H0, there is a difference in fuel-efficiency between compact car and the others

In [45]:
mpg_compact = mpg[mpg["class"] == "compact"].avg_mileage
mpg_not_compact = mpg[mpg["class"] != "compact"].avg_mileage

t_class = (stats.ttest_ind(mpg_compact , mpg_not_compact))
t_class

Ttest_indResult(statistic=6.731177612837954, pvalue=1.3059121585018135e-10)

Do manual cars get better gas mileage than automatic cars?
- H0: There is no difference in fuel-efficiency between manual and auto cars
- Ha: There is a difference in fuel-efficiency between manual and auto cars
- set α = 0.05

> p-value = 7.15e-6 < α, reject H0

In [48]:
manual_car = mpg[mpg["trans"].str.contains("man")].avg_mileage
auto_car = mpg[mpg["trans"].str.contains("auto")].avg_mileage
stats.ttest_ind(manual_car, auto_car)

# alternative
# mpg['is_auto'] = mpg['trans'].apply(lambda x: 'auto' in x)
# manual = mpg[~mpg['is_auto']]['mpg']
# auto = mpg[mpg['is_auto']]['mpg']

Ttest_indResult(statistic=4.593437735750014, pvalue=7.154374401145683e-06)

**Use telco_churn data.**
- Does tenure correlate with monthly charges? Total charges? 
- What happens if you control for phone and internet service?

In [186]:
def get_db_url():
    url = f'mysql+pymysql://{user}:{password}@{host}/{database_name}'
    return url
from env import host, user, password
database_name = input("Input desired database name: ")
query = input("Key in the query ")
customer = pd.read_sql(query,get_db_url())
customer.head(5)

Input desired database name: telco_churn
Key in the query select * from customers

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,1,No,...,No,Yes,Yes,No,2,Yes,2,65.6,593.3,No
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,No,No,No,Yes,1,No,2,59.9,542.4,No
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,2,No,...,Yes,No,No,No,1,Yes,1,73.9,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,2,No,...,Yes,No,Yes,Yes,1,Yes,1,98.0,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,2,No,...,No,Yes,Yes,No,1,Yes,2,83.9,267.4,Yes

In [187]:
customer.total_charges = customer.total_charges.str.replace(" ","")
customer.total_charges = pd.to_numeric(customer.total_charges)
customer.total_charges = customer.total_charges.astype(float)

In [188]:
customer.total_charges = customer.total_charges.dropna()

In [189]:
customer.total_charges = np.nan_to_num(customer.total_charges)

In [190]:
r, p = stats.pearsonr(customer.tenure, customer.monthly_charges)
print(r,p)
# It is statistically significant that monthly charge is slightly correlated to tenure

0.24789985628615002 4.0940449915016345e-99

In [191]:
r, p = stats.pearsonr(customer.tenure, customer.total_charges)
print(r,p)
# the result that there's strong correlation between the two variables is statistically significance

0.8261783979502421 0.0

In [83]:
# What happens if you control for phone and internet service?
mt = customer.groupby(["phone_service","internet_service_type_id"])[['monthly_charges','total_charges','tenure']].mean()
mt

                                        monthly_charges  total_charges  \
phone_service internet_service_type_id
No            1                               42.028592    1496.033651
Yes           1                               64.405894    2358.318516
              2                               91.500129    3205.304570
              3                               21.079194     662.604784

                                           tenure
phone_service internet_service_type_id
No            1                         31.737537
Yes           1                         33.246694
              2                         32.917959
              3                         30.547182

In [192]:
has_internet = customer.internet_service_type_id > 1
has_phone = customer.phone_service == "Yes"

stats.pearsonr(customer.tenure[has_internet], customer.monthly_charges[has_internet]) 
# Slight positive correlation, statistically significant

(0.20311259168306733, 3.1201721018835015e-44)

In [193]:
stats.pearsonr(customer.tenure[has_phone], customer.monthly_charges[has_phone]) 
# Slight positive correlation, statistically significant

(0.24538898585362878, 7.117871077967264e-88)

**Use employees database.**

- Is there a relationship between how long an employee has been with the company and their salary?
- Is there a relationship between how long an employee has been with the company and the number of titles they have had?

In [194]:
def get_db_url():
    url = f'mysql+pymysql://{user}:{password}@{host}/{database_name}'
    return url
from env import host, user, password
database_name = input("Input desired database name: ")
query = input("Key in the query ")
sal_emp = pd.read_sql(query,get_db_url())
sal_emp.head(5)
# Alternatively, use SQL 
# SELECT DATEDIFF('2019-10-07', to_date) AS tenure from salaries;

Input desired database name: employees
Key in the query select * from employees e join salaries s on e.emp_no = s.emp_no where to_date > now();

,emp_no,birth_date,first_name,last_name,gender,hire_date,emp_no,salary,from_date,to_date
0,10001,1953-09-02,Georgi,Facello,M,1986-06-26,10001,88958,2002-06-22,9999-01-01
1,10002,1964-06-02,Bezalel,Simmel,F,1985-11-21,10002,72527,2001-08-02,9999-01-01
2,10003,1959-12-03,Parto,Bamford,M,1986-08-28,10003,43311,2001-12-01,9999-01-01
3,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,10004,74057,2001-11-27,9999-01-01
4,10005,1955-01-21,Kyoichi,Maliniak,M,1989-09-12,10005,94692,2001-09-09,9999-01-01

In [195]:
import datetime as dt
from datetime import timedelta

In [196]:
#sal_emp["now"] = pd.Timestamp.now().date()
sal_emp["tenure"] = ((pd.Timestamp.now().date()) - sal_emp.hire_date).dt.days.astype(int)
#salary.tenure = salary.tenure.str.strip(" days")
# salary.tenure = salary.tenure.astype(timedelta).map(lambda x: np.nan if pd.isnull(x) else x.days)
sal_emp

,emp_no,birth_date,first_name,last_name,gender,hire_date,emp_no,salary,from_date,to_date,tenure
0,10001,1953-09-02,Georgi,Facello,M,1986-06-26,10001,88958,2002-06-22,9999-01-01,12156
1,10002,1964-06-02,Bezalel,Simmel,F,1985-11-21,10002,72527,2001-08-02,9999-01-01,12373
2,10003,1959-12-03,Parto,Bamford,M,1986-08-28,10003,43311,2001-12-01,9999-01-01,12093
3,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,10004,74057,2001-11-27,9999-01-01,11998
4,10005,1955-01-21,Kyoichi,Maliniak,M,1989-09-12,10005,94692,2001-09-09,9999-01-01,10982
5,10006,1953-04-20,Anneke,Preusig,F,1989-06-02,10006,59755,2001-08-02,9999-01-01,11084
6,10007,1957-05-23,Tzvetan,Zielinski,F,1989-02-10,10007,88070,2002-02-07,9999-01-01,11196
7,10009,1952-04-19,Sumant,Peac,F,1985-02-18,10009,94409,2002-02-14,9999-01-01,12649
8,10010,1963-06-01,Duangkaew,Piveteau,F,1989-08-24,10010,80324,2001-11-23,9999-01-01,11001
9,10012,1960-10-04,Patricio,Bridgland,M,1992-12-18,10012,54423,2001-12-16,9999-01-01,9789
10,10013,1963-06-07,Eberhardt,Terkki,M,1985-10-20,10013,68901,2001-10-16,9999-01-01,12405
11,10014,1956-02-12,Berni,Genin,M,1987-03-11,10014,60598,2001-12-27,9999-01-01,11898
12,10016,1961-05-02,Kazuhito,Cappelletti,M,1995-01-27,10016,77935,2002-02-10,9999-01-01,9019
13,10017,1958-07-06,Cristinel,Bouloucos,F,1993-08-03,10017,99651,2002-08-01,9999-01-01,9561
14,10018,1954-06-19,Kazuhide,Peha,F,1987-04-03,10018,84672,2002-03-30,9999-01-01,11875
15,10019,1953-01-23,Lillian,Haddadi,M,1999-04-30,10019,50032,2002-04-29,9999-01-01,7465
16,10020,1952-12-24,Mayuko,Warwick,M,1991-01-26,10020,47017,2001-12-29,9999-01-01,10481
17,10022,1952-07-08,Shahaf,Famili,M,1995-08-22,10022,41348,2001-09-02,9999-01-01,8812
18,10023,1953-09-29,Bojan,Montemayor,F,1989-12-17,10023,50113,2001-09-26,9999-01-01,10886
19,10024,1958-09-05,Suzette,Pettey,F,1997-05-19,10024,96646,2002-06-13,9999-01-01,8176
20,10026,1953-04-03,Yongqiao,Berztiss,M,1995-03-20,10026,66313,2002-03-18,9999-01-01,8967
21,10027,1962-07-10,Divier,Reistad,F,1989-07-07,10027,46145,2002-03-31,9999-01-01,11049
22,10029,1956-12-13,Otmar,Herbst,M,1985-11-20,10029,77777,2001-09-15,9999-01-01,12374
23,10030,1958-07-14,Elvis,Demeyer,M,1994-02-17,10030,88806,2002-02-15,9999-01-01,9363
24,10031,1959-01-27,Karsten,Joslin,M,1991-09-01,10031,56689,2001-08-29,9999-01-01,10263
25,10032,1960-08-09,Jeong,Reistad,F,1990-06-20,10032,69539,2002-06-17,9999-01-01,10701
26,10035,1953-02-08,Alain,Chappelet,M,1988-09-05,10035,68755,2001-09-02,9999-01-01,11354
27,10036,1959-08-10,Adamantios,Portugali,M,1992-01-03,10036,63053,2002-04-26,9999-01-01,10139
28,10037,1963-07-22,Pradeep,Makrucki,M,1990-12-05,10037,60574,2001-12-02,9999-01-01,10533
29,10038,1960-07-20,Huan,Lortz,M,1989-09-20,10038,64254,2001-09-17,9999-01-01,10974
30,10039,1959-10-01,Alejandro,Brender,M,1988-01-19,10039,63918,2002-01-15,9999-01-01,11584
31,10040,1959-09-13,Weiyi,Meriste,F,1993-02-14,10040,72668,2002-02-12,9999-01-01,9731
32,10041,1959-08-27,Uri,Lenart,F,1989-11-12,10041,81705,2001-11-09,9999-01-01,10921
33,10043,1960-09-19,Yishay,Tzvieli,M,1990-10-20,10043,77659,2001-10-17,9999-01-01,10579
34,10044,1961-09-21,Mingsen,Casley,F,1994-05-21,10044,58345,2002-05-19,9999-01-01,9270
35,10045,1957-08-14,Moss,Shanbhogue,M,1989-09-02,10045,47581,2001-11-15,9999-01-01,10992
36,10046,1960-07-23,Lucien,Rosenbaum,M,1992-06-20,10046,62218,2002-06-18,9999-01-01,9970
37,10047,1952-06-29,Zvonko,Nyanchama,M,1989-03-31,10047,81037,2002-03-28,9999-01-01,11147
38,10049,1961-04-24,Basil,Tramer,F,1992-05-04,10049,51326,2002-05-02,9999-01-01,10017
39,10050,1958-05-21,Yinghua,Dredge,M,1990-12-25,10050,97830,2001-12-22,9999-01-01,10513
40,10051,1953-07-28,Hidefumi,Caine,M,1992-10-15,10051,64905,2001-10-13,9999-01-01,9853
41,10052,1961-02-26,Heping,Nitsch,M,1988-05-21,10052,67156,2002-01-30,9999-01-01,11461
42,10053,1954-09-13,Sanjiv,Zschoche,F,1986-02-04,10053,78478,2001-11-11,9999-01-01,12298
43,10054,1957-04-04,Mayumi,Schueller,M,1995-03-13,10054,53906,2002-07-27,9999-01-01,8974
44,10056,1961-09-01,Brendon,Bernini,F,1990-02-01,10056,74722,2002-01-29,9999-01-01,10840
45,10057,1954-05-30,Ebbe,Callaway,F,1992-01-15,10057,68061,2002-01-12,9999-01-01,10127
46,10058,1954-10-01,Berhard,McFarlin,M,1987-04-13,10058,72542,2002-04-22,9999-01-01,11865
47,10059,1953-09-19,Alejandro,McAlpine,F,1991-06-26,10059,94161,2002-06-23,9999-01-01,10330
48,10060,1961-10-15,Breannda,Billingsley,M,1987-11-02,10060,93188,2002-05-25,9999-01-01,11662
49,10061,1962-10-19,Tse,Herber,M,1985-09-17,10061,97338,2001-11-29,9999-01-01,12438
50,10062,1961-11-02,Anoosh,Peyn,M,1991-08-30,10062,68559,2001-08-27,9999-01-01,10265
51,10063,1952-08-06,Gino,Leonhardt,F,1989-04-08,10063,74841,2002-04-04,9999-01-01,11139
52,10065,1963-04-14,Satosi,Awdeh,M,1988-05-18,10065,47437,2002-05-23,9999-01-01,11464
53,10066,1952-11-13,Kwee,Schusler,M,1986-02-26,10066,103672,2002-02-22,9999-01-01,12276
54,10067,1953-01-07,Claudi,Stavenow,M,1987-03-04,10067,83254,2002-02-28,9999-01-01,11905
55,10068,1962-11-26,Charlene,Brattka,M,1987-08-07,10068,113229,2001-08-03,9999-01-01,11749
56,10069,1960-09-06,Margareta,Bierman,F,1989-11-05,10069,86641,2002-06-12,9999-01-01,10928
57,10070,1955-08-20,Reuven,Garigliano,M,1985-10-14,10070,96322,2001-10-10,9999-01-01,12411
58,10071,1958-01-21,Hisao,Lipner,M,1987-10-01,10071,53315,2001-08-03,9999-01-01,11694
59,10072,1952-05-15,Hironoby,Sidou,F,1988-07-21,10072,64512,2002-05-18,9999-01-01,11400
60,10074,1955-08-28,Mokhtar,Bernatsky,F,1990-08-13,10074,80820,2001-08-10,9999-01-01,10647
61,10076,1952-06-13,Erez,Ritzmann,F,1985-07-09,10076,62921,2002-07-14,9999-01-01,12508
62,10077,1964-04-18,Mona,Azuma,M,1990-03-02,10077,54699,2001-12-21,9999-01-01,10811
63,10078,1959-12-25,Danel,Mondadori,F,1987-05-26,10078,54652,2001-09-27,9999-01-01,11822
64,10079,1961-10-05,Kshitij,Gils,F,1986-03-27,10079,67231,2001-12-11,9999-01-01,12247
65,10080,1957-12-03,Premal,Baek,M,1985-11-19,10080,72729,2001-09-26,9999-01-01,12375
66,10081,1960-12-17,Zhongwei,Rosen,M,1986-10-30,10081,79351,2001-10-26,9999-01-01,12030
67,10083,1959-07-23,Vishv,Zockler,M,1987-03-31,10083,77186,2002-03-27,9999-01-01,11878
68,10084,1960-05-25,Tuval,Kalloufi,M,1995-12-15,10084,93621,2001-12-13,9999-01-01,8697
69,10085,1962-11-07,Kenroku,Malabarba,M,1994-04-09,10085,60910,2002-04-06,9999-01-01,9312
70,10086,1962-11-19,Somnath,Foote,M,1990-02-16,10086,96333,2002-02-16,9999-01-01,10825
71,10088,1954-02-25,Jungsoon,Syrzycki,F,1988-09-02,10088,98003,2001-08-30,9999-01-01,11357
72,10089,1963-03-21,Sudharsan,Flasterstein,F,1986-08-12,10089,77955,2002-01-07,9999-01-01,12109
73,10091,1955-10-04,Amabile,Gomatam,M,1992-11-18,10091,60014,2001-11-16,9999-01-01,9819
74,10092,1964-10-18,Valdiodio,Niizuma,F,1989-09-22,10092,66803,2002-04-21,9999-01-01,10972
75,10093,1964-06-11,Sailaja,Desikan,M,1996-11-05,10093,82715,2002-06-07,9999-01-01,8371
76,10095,1965-01-03,Hilari,Morton,M,1986-07-15,10095,80955,2002-03-08,9999-01-01,12137
77,10096,1954-09-16,Jayson,Mandell,M,1990-01-14,10096,68612,2002-01-22,9999-01-01,10858
78,10097,1952-02-27,Remzi,Waschkowski,M,1990-09-15,10097,70161,2001-09-12,9999-01-01,10614
79,10099,1956-05-25,Valter,Sullins,F,1988-10-18,10099,98538,2001-10-15,9999-01-01,11311
80,10100,1953-04-21,Hironobu,Haraldson,F,1987-09-21,10100,74957,2001-09-17,9999-01-01,11704
81,10102,1959-11-04,Paraskevi,Luby,F,1994-01-26,10102,61059,2001-12-31,9999-01-01,9385
82,10103,1953-11-26,Akemi,Birch,M,1986-12-02,10103,80061,2002-01-11,9999-01-01,11997
83,10104,1961-11-19,Xinyu,Warwick,M,1987-04-16,10104,81788,2002-04-12,9999-01-01,11862
84,10106,1952-08-29,Eben,Aingworth,M,1990-12-19,10106,82836,2001-10-24,9999-01-01,10519
...,...,...,...,...,...,...,...,...,...,...,...
240039,499894,1957-04-25,Maja,Lamba,F,1990-06-10,499894,68787,2002-02-23,9999-01-01,10711
240040,499895,1963-03-27,Raimond,Leuchs,F,1987-07-12,499895,98808,2002-07-08,9999-01-01,11775
240041,499896,1963-07-23,Gianluca,Rando,M,1986-02-23,499896,59952,2002-05-25,9999-01-01,12279
240042,499898,1952-05-02,Alagu,Azuma,M,1985-09-11,499898,78340,2001-09-07,9999-01-01,12444
240043,499899,1963-12-24,Mong,Usdin,M,1990-07-13,499899,104333,2002-07-10,9999-01-01,10678
240044,499900,1956-02-09,Leon,Baba,M,1986-05-10,499900,51414,2002-02-13,9999-01-01,12203
240045,499901,1963-09-12,Make,Terekhov,M,1993-12-24,499901,49223,2002-04-05,9999-01-01,9418
240046,499902,1952-07-31,Aloke,Wuwongse,F,1991-06-18,499902,100339,2002-08-01,9999-01-01,10338
240047,499903,1959-06-30,Premal,Passino,M,1994-11-03,499903,49614,2001-11-01,9999-01-01,9104
240048,499904,1961-08-03,Kazuhiro,Velasco,M,1992-10-28,499904,47104,2002-07-18,9999-01-01,9840
240049,499907,1954-04-18,Arnd,Garnham,M,1986-01-12,499907,77484,2002-02-14,9999-01-01,12321
240050,499908,1953-07-19,Toong,Coorg,F,1988-12-02,499908,62948,2001-11-29,9999-01-01,11266
240051,499909,1952-03-11,Yoshinari,Thummel,M,1990-08-07,499909,70487,2001-11-08,9999-01-01,10653
240052,499910,1957-11-07,Doowon,Versino,F,1991-12-22,499910,78510,2001-12-19,9999-01-01,10151
240053,499912,1956-06-19,Parke,Pell,F,1993-10-23,499912,57804,2001-10-21,9999-01-01,9480
240054,499913,1958-07-08,Masako,Heiserman,M,1991-02-28,499913,73788,2001-12-09,9999-01-01,10448
240055,499914,1952-03-04,Khoa,Keirsey,F,1990-12-04,499914,66025,2001-12-01,9999-01-01,10534
240056,499915,1954-12-28,Mang,Rodite,M,1989-02-22,499915,50132,2001-08-04,9999-01-01,11184
240057,499916,1962-01-09,Florina,Cusworth,F,1997-05-18,499916,43217,2001-10-16,9999-01-01,8177
240058,499918,1957-03-22,Hilary,Rodiger,M,1992-05-13,499918,55843,2001-10-15,9999-01-01,10008
240059,499919,1960-04-18,Masako,Angiulli,M,1991-01-09,499919,107704,2002-01-06,9999-01-01,10498
240060,499920,1953-07-18,Christ,Murtagh,M,1986-04-17,499920,123461,2002-04-13,9999-01-01,12226
240061,499921,1958-09-25,Nigel,Solovay,M,1989-08-19,499921,50565,2002-05-05,9999-01-01,11006
240062,499922,1953-08-25,Mitsuyuki,Doering,F,1986-07-03,499922,76858,2002-06-29,9999-01-01,12149
240063,499924,1963-06-08,Angus,Swan,M,1998-08-04,499924,47398,2001-08-03,9999-01-01,7734
240064,499925,1954-10-17,Tuval,Hardjono,M,1991-10-29,499925,45324,2001-10-26,9999-01-01,10205
240065,499926,1956-10-15,Youpyo,Perfilyeva,F,1985-08-16,499926,109498,2001-08-12,9999-01-01,12470
240066,499927,1953-03-18,Manohar,Heemskerk,M,1988-03-13,499927,83769,2001-11-18,9999-01-01,11530
240067,499928,1961-03-17,Moni,Bale,M,1985-03-30,499928,74055,2002-03-26,9999-01-01,12609
240068,499930,1959-06-19,Ayakannu,Beerel,M,1988-03-23,499930,74163,2002-03-20,9999-01-01,11520
240069,499931,1964-12-04,Remco,Rosar,M,1988-04-27,499931,64915,2002-07-23,9999-01-01,11485
240070,499933,1957-10-21,Chuanti,Riesenhuber,F,1993-05-28,499933,47141,2002-05-26,9999-01-01,9628
240071,499934,1957-02-19,Tonia,Butner,F,1991-01-02,499934,76837,2002-02-19,9999-01-01,10505
240072,499935,1963-12-18,Ymte,Perelgut,M,1991-09-27,499935,77520,2001-09-24,9999-01-01,10237
240073,499936,1954-02-11,Chiranjit,Himler,M,1994-10-31,499936,54253,2001-10-29,9999-01-01,9107
240074,499937,1955-07-28,Pantung,Litzler,F,1987-02-03,499937,74618,2002-01-30,9999-01-01,11934
240075,499938,1960-06-30,JiYoung,Binding,F,1993-04-18,499938,47765,2001-10-06,9999-01-01,9668
240076,499940,1952-02-12,Yolla,Auria,M,1986-04-25,499940,75992,2002-04-21,9999-01-01,12218
240077,499941,1956-10-16,Udaiprakash,Hockney,F,1994-02-04,499941,65095,2002-02-02,9999-01-01,9376
240078,499942,1963-01-10,Feiyu,Sanella,F,1997-02-10,499942,49735,2002-03-27,9999-01-01,8274
240079,499943,1956-08-04,Ziyad,Baaz,M,1987-09-09,499943,68398,2002-03-31,9999-01-01,11716
240080,499944,1964-12-18,Bernd,Baumann,M,1988-07-03,499944,54456,2001-09-08,9999-01-01,11418
240081,499945,1958-08-12,Sivanarayana,Haddadi,M,1987-03-02,499945,61346,2002-07-20,9999-01-01,11907
240082,499946,1956-08-10,Barton,Soicher,F,1986-02-21,499946,60960,2001-12-08,9999-01-01,12281
240083,499948,1953-05-24,Cordelia,Paludetto,M,1993-01-28,499948,45625,2002-04-08,9999-01-01,9748
240084,499949,1962-10-21,Krister,Stranks,M,1987-01-31,499949,69376,2002-07-14,9999-01-01,11937
240085,499951,1962-08-17,Kasidit,Krohm,M,1985-03-17,499951,46909,2002-06-17,9999-01-01,12622
240086,499952,1953-11-19,Aron,Lindqvist,M,1990-01-07,499952,70446,2002-01-04,9999-01-01,10865
240087,499953,1960-09-04,Leszek,Pulkowski,M,1985-02-23,499953,114876,2002-02-19,9999-01-01,12644
240088,499954,1961-09-24,Tuval,Tempesti,M,1990-08-09,499954,64420,2001-08-06,9999-01-01,10651
240089,499955,1961-10-23,Kankanahalli,Zucker,M,1993-03-06,499955,72098,2002-03-04,9999-01-01,9711
240090,499956,1959-01-08,Zhonghua,Crooks,F,1994-10-12,499956,59279,2001-10-10,9999-01-01,9126
240091,499959,1956-01-29,Lillian,Setiz,M,1991-11-08,499959,89837,2001-11-05,9999-01-01,10195
240092,499960,1952-12-02,Gaetan,Veldwijk,F,1989-09-16,499960,94157,2001-09-13,9999-01-01,10978
240093,499961,1962-10-02,Holgard,Nanard,F,1988-07-04,499961,71073,2002-07-01,9999-01-01,11417
240094,499962,1956-03-28,Yongqiao,Dalton,M,1995-06-20,499962,57667,2002-06-18,9999-01-01,8875
240095,499963,1962-03-14,Danny,Lenart,F,1989-08-07,499963,73429,2001-08-04,9999-01-01,11018
240096,499964,1958-02-24,Randy,Matzov,M,1988-11-10,499964,63117,2001-09-23,9999-01-01,11288
240097,499965,1961-12-07,Ronghao,Morrow,F,1985-05-26,499965,90570,2001-10-02,9999-01-01,12552
240098,499966,1955-12-04,Mihalis,Crabtree,F,1985-06-13,499966,98388,2002-06-09,9999-01-01,12534
240099,499968,1959-03-07,Dharmaraja,Ertl,M,1991-10-08,499968,89119,2001-10-05,9999-01-01,10226
240100,499969,1960-09-02,Masanao,Ducloy,M,1992-02-16,499969,48797,2002-07-26,9999-01-01,10095
240101,499970,1963-03-25,Danai,Hedayat,M,1994-08-06,499970,118576,2002-01-07,9999-01-01,9193
240102,499972,1957-07-25,Katsuo,Leuchs,F,1989-11-23,499972,65746,2001-11-20,9999-01-01,10910
240103,499973,1963-06-03,Lobel,Taubman,M,1994-02-01,499973,61400,2002-01-30,9999-01-01,9379
240104,499974,1956-09-10,Shuichi,Piazza,F,1989-09-16,499974,50961,2001-12-10,9999-01-01,10978
240105,499976,1963-08-20,Guozhong,Felder,M,1988-12-26,499976,107386,2001-12-23,9999-01-01,11242
240106,499977,1956-06-05,Martial,Weisert,F,1996-09-17,499977,77858,2001-12-27,9999-01-01,8420
240107,499979,1962-10-29,Prasadram,Waleschkowski,M,1994-01-04,499979,54088,2001-08-28,9999-01-01,9407
240108,499980,1959-06-28,Gino,Usery,M,1991-02-11,499980,108364,2002-02-08,9999-01-01,10465
240109,499981,1955-01-02,Yunming,Mitina,F,1991-03-07,499981,63193,2002-03-04,9999-01-01,10441
240110,499983,1955-08-29,Uri,Juneja,F,1989-08-28,499983,52429,2002-07-13,9999-01-01,10997
240111,499984,1959-08-31,Kaijung,Rodham,M,1985-09-11,499984,66202,2002-07-27,9999-01-01,12444
240112,499985,1964-12-26,Gila,Lukaszewicz,M,1997-02-11,499985,47543,2002-02-10,9999-01-01,8273
240113,499986,1952-07-22,Nathan,Ranta,F,1985-08-11,499986,119906,2001-08-07,9999-01-01,12475
240114,499987,1961-09-05,Rimli,Dusink,F,1998-09-20,499987,56336,2001-12-19,9999-01-01,7687
240115,499990,1963-11-03,Khaled,Kohling,M,1985-10-10,499990,45512,2001-10-27,9999-01-01,12415
240116,499991,1962-02-26,Pohua,Sichman,F,1989-01-12,499991,52867,2002-02-10,9999-01-01,11225
240117,499992,1960-10-12,Siamak,Salverda,F,1987-05-10,499992,80389,2002-05-06,9999-01-01,11838
240118,499993,1963-06-04,DeForest,Mullainathan,M,1997-04-07,499993,44305,2002-04-05,9999-01-01,8218
240119,499995,1958-09-24,Dekang,Lichtner,F,1993-01-12,499995,52868,2002-06-01,9999-01-01,9764
240120,499996,1953-03-07,Zito,Baaz,M,1990-09-27,499996,69501,2002-05-12,9999-01-01,10602
240121,499997,1961-08-03,Berhard,Lenart,M,1986-04-21,499997,83441,2001-08-26,9999-01-01,12222
240122,499998,1956-09-05,Patricia,Breugel,M,1993-10-13,499998,55003,2001-12-25,9999-01-01,9490
240123,499999,1958-05-01,Sachin,Tsukuda,M,1997-11-30,499999,77303,2001-11-29,9999-01-01,7981

In [173]:
r, p = stats.pearsonr(sal_emp.tenure, sal_emp.salary)
print("Correlation between tenure and salary is: correlation =",r, "with p-value of: ",p)
# Positive correlation between tenure and emp salary

Correlation between tenure and salary is: correlation = 0.30646256131860783 with p-value of:  0.0

**Is there a relationship between tenure and the number of titles they have had?**

- $H0: $ No correlation between tenure and number of titles
- $Hα: $ There is a correlation between tenure and number of titles

In [199]:
def get_db_url():
    url = f'mysql+pymysql://{user}:{password}@{host}/{database_name}'
    return url
from env import host, user, password
database_name = input("Input desired database name: ")
query = input("Key in the query ")
tenure_title = pd.read_sql(query,get_db_url())
tenure_title.head(5)

Input desired database name: employees
Key in the query select datediff(curdate(),e.hire_date) as tenure, count(title) as n_titles from employees as e join titles as t using(emp_no)  group by emp_no;

   tenure  n_titles
0   12157         1
1   12374         1
2   12094         1
3   11999         2
4   10983         2

In [201]:
r, p = stats.pearsonr(tenure_title.tenure, tenure_title.n_titles)
print("Correlation between tenure and title# is: correlation =",r, "with p-value of: ",p)
# There is a slight correlation between the two variables.
# p < 0.05, reject null, there is a correlation between the two variables

Correlation between tenure and title# is: correlation = 0.266598929913662 with p-value of:  0.0

Use the sleepstudy data. 

**Is there a relationship between days and reaction time?**

- Is there a linear relationship between city mileage and highway mileage?

$H0:$ There is no linear relationship between city and highway mileage

$Ha:$ There is a linear relationship between city and highway mileage

In [5]:
x = mpg.hwy
y = mpg.cty
r, p = stats.pearsonr(x, y)
print(r,p)

0.9559159136495721 1.8683071952629614e-125

Is there a linear relationship between engine displacement(displ) and city mileage (cty)?

$H0:$ There is no linear relationship between engine displacement and city mileage

$Ha:$ There is linear relationship

In [9]:
x = mpg.displ
r,p = stats.pearsonr(x,y)
print("r = ",r, "p-value = ",p)
print("thus there is a negative correlation between engine displacement and city mileage, we reject H0")

r =  -0.7985239689348551 p-value =  4.737914890205637e-53
thus there is a negative correlation between engine displacement and city mileage, we reject H0