- Is the website redesign any good?

> H0: The website design is good<b>

> Ha: The website design is not good<b>
    
------------------------------------------------------------------------    

True negative: design is good & accepted design is good


------------------------------------------------------------------------    


Type  I: design is good but reject design good 

------------------------------------------------------------------------    

Type II: design is not good but accept as good 

------------------------------------------------------------------------    

True positive: design is not good and reject design is good

- Is our television ad driving more sales?

> H0: The tv ads drive more sales<b>

> Ha: The tv ads does not drive more sales<b>
    
------------------------------------------------------------------------    

True negative: ads drive more sales and accept ads do drive more sales


------------------------------------------------------------------------    


Type  I: ads drive more sales BUT reject ads drive more sales 

------------------------------------------------------------------------    

Type II: ads do not drive more sales BUT accept ads drive more sales  

------------------------------------------------------------------------    

True positive: ads do not drive more sales and reject ads drive more sales

- Has the network latency gone up since we switched internet service providers?

> H0: network latency is related to the change in service provider <b>

> Ha: network latency is not related to the change in service provider <b>
    
------------------------------------------------------------------------    

True negative: network latency is related to the change in service provider, accept the relationship


------------------------------------------------------------------------    


Type  I: network latency is related to the change in service provider, BUT reject the relationship 

------------------------------------------------------------------------    

Type II: network latency is NOT related to the change in service provider, BUT accept the relationship  

------------------------------------------------------------------------    

True positive: network latency is NOT related to the change in service provider, and also reject the relationship

In [1]:
from math import sqrt
from scipy import stats

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. 
- A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. <b>


- A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. <b>


- Use a .05 level of significance. <b>

> H0: Average time it takes to sell homes is different for its two offices <b>
    
> Ha: No difference in avg home selling time between two offices

In [31]:
dist_1 = stats.norm(90, 15).rvs(40)
dist_2 = stats.norm(100,20).rvs(50)

n1 = 40
n2 = 50

μ1 = 90
μ2 = 100

σ1 = 15
σ2 = 20

α = 0.05

In [32]:
degf = n1 + n2 - 2

s_p = sqrt(((n1 - 1) * σ1**2 + (n2 - 1) * σ2**2) / (n1 + n2 - 2))
s_p

standard_error = se = sqrt(σ1**2 / n1 + σ2**2 / n2)

t = (μ1 - μ2) / (s_p * sqrt(1/n1 + 1/n2))
t

pval = stats.t(degf).cdf(t) * 2
print("t = ",t, "p = ", pval)
print(pval, " < ", α, "thus reject H0?")
print(stats.ttest_ind(dist_1, dist_2))

t =  -2.6252287036468456 p =  0.01020985244923939
0.01020985244923939  <  0.05 thus reject H0?
Ttest_indResult(statistic=-1.0694328865126443, pvalue=0.28779931969273115)

Load the mpg dataset and use it to answer the following questions:

- Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

- Are compact cars more fuel-efficient than the average car?

- Do manual cars get better gas mileage than automatic cars?

In [2]:
from pydataset import data

In [7]:
mpg = data("mpg")
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact
13,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact
14,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact
15,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact
16,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize
17,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize
18,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv
21,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
22,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv
23,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
24,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater
25,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater
26,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater
27,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater
28,chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater
29,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv
30,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv
31,chevrolet,k1500 tahoe 4wd,5.7,1999,8,auto(l4),4,11,15,r,suv
32,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv
33,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize
34,chevrolet,malibu,2.4,2008,4,auto(l4),f,22,30,r,midsize
35,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
36,chevrolet,malibu,3.5,2008,6,auto(l4),f,18,29,r,midsize
37,chevrolet,malibu,3.6,2008,6,auto(s6),f,17,26,r,midsize
38,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
39,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan
41,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan
42,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
44,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,11,17,e,minivan
45,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
46,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,21,r,minivan
47,dodge,caravan 2wd,3.8,2008,6,auto(l6),f,16,23,r,minivan
48,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan
49,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup
50,dodge,dakota pickup 4wd,3.7,2008,6,auto(l4),4,14,18,r,pickup
51,dodge,dakota pickup 4wd,3.9,1999,6,auto(l4),4,13,17,r,pickup
52,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
56,dodge,dakota pickup 4wd,5.2,1999,8,manual(m5),4,11,17,r,pickup
57,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
58,dodge,durango 4wd,3.9,1999,6,auto(l4),4,13,17,r,suv
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv
61,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
62,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv
63,dodge,durango 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv
64,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup
68,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup
69,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup
70,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
72,dodge,ram 1500 pickup 4wd,5.2,1999,8,manual(m5),4,11,16,r,pickup
73,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup
74,dodge,ram 1500 pickup 4wd,5.9,1999,8,auto(l4),4,11,15,r,pickup
75,ford,expedition 2wd,4.6,1999,8,auto(l4),r,11,17,r,suv
76,ford,expedition 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv
77,ford,expedition 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv
78,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
79,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
80,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
81,ford,explorer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv
82,ford,explorer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv
83,ford,explorer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv
84,ford,f150 pickup 4wd,4.2,1999,6,auto(l4),4,14,17,r,pickup
85,ford,f150 pickup 4wd,4.2,1999,6,manual(m5),4,14,17,r,pickup
...,...,...,...,...,...,...,...,...,...,...,...
150,nissan,maxima,3.5,2008,6,auto(av),f,19,25,p,midsize
151,nissan,pathfinder 4wd,3.3,1999,6,auto(l4),4,14,17,r,suv
152,nissan,pathfinder 4wd,3.3,1999,6,manual(m5),4,15,17,r,suv
153,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
154,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv
155,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize
156,pontiac,grand prix,3.8,1999,6,auto(l4),f,16,26,p,midsize
157,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize
158,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
159,pontiac,grand prix,5.3,2008,8,auto(s4),f,16,25,p,midsize
160,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
161,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv
162,subaru,forester awd,2.5,2008,4,manual(m5),4,20,27,r,suv
163,subaru,forester awd,2.5,2008,4,manual(m5),4,19,25,p,suv
164,subaru,forester awd,2.5,2008,4,auto(l4),4,20,26,r,suv
165,subaru,forester awd,2.5,2008,4,auto(l4),4,18,23,p,suv
166,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact
167,subaru,impreza awd,2.2,1999,4,manual(m5),4,19,26,r,subcompact
168,subaru,impreza awd,2.5,1999,4,manual(m5),4,19,26,r,subcompact
169,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact
171,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact
173,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact
174,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv
175,toyota,4runner 4wd,2.7,1999,4,auto(l4),4,16,20,r,suv
176,toyota,4runner 4wd,3.4,1999,6,auto(l4),4,15,19,r,suv
177,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,suv
178,toyota,4runner 4wd,4.0,2008,6,auto(l5),4,16,20,r,suv
179,toyota,4runner 4wd,4.7,2008,8,auto(l5),4,14,17,r,suv
180,toyota,camry,2.2,1999,4,manual(m5),f,21,29,r,midsize
181,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize
182,toyota,camry,2.4,2008,4,manual(m5),f,21,31,r,midsize
183,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize
184,toyota,camry,3.0,1999,6,auto(l4),f,18,26,r,midsize
185,toyota,camry,3.0,1999,6,manual(m5),f,18,26,r,midsize
186,toyota,camry,3.5,2008,6,auto(s6),f,19,28,r,midsize
187,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact
188,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact
189,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact
190,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact
191,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact
192,toyota,camry solara,3.0,1999,6,manual(m5),f,18,26,r,compact
193,toyota,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact
194,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact
195,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact
196,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact
197,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact
198,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact
199,toyota,land cruiser wagon 4wd,4.7,1999,8,auto(l4),4,11,15,r,suv
200,toyota,land cruiser wagon 4wd,5.7,2008,8,auto(s6),4,13,18,r,suv
201,toyota,toyota tacoma 4wd,2.7,1999,4,manual(m5),4,15,20,r,pickup
202,toyota,toyota tacoma 4wd,2.7,1999,4,auto(l4),4,16,20,r,pickup
203,toyota,toyota tacoma 4wd,2.7,2008,4,manual(m5),4,17,22,r,pickup
204,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
205,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup
206,toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18,r,pickup
207,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup
208,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
210,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact
211,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
212,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
214,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact
215,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact
216,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact
217,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
218,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact
219,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
224,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
225,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
227,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact
228,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
229,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

- H0: There is no difference in fuel-efficiency in cars from 2008 vs 1999
- Ha: There is difference in fuel-efficiency in cars from 2008 vs 1999
- set α = 0.05

> p-value = 0.82 > α, fail to reject H0

In [35]:
mpg["avg_mileage"] = (mpg.cty + mpg.hwy)/2
mpg_1999 = mpg[mpg["year"] == 1999].avg_mileage
mpg_2008 = mpg[mpg["year"] == 2008].avg_mileage

t_mpg = (stats.ttest_ind(mpg_1999 , mpg_2008))
t_mpg

Ttest_indResult(statistic=0.21960177245940962, pvalue=0.8263744040323578)

Are compact cars more fuel-efficient than the average car?
- H0: There is no difference in fuel-efficiency between compact cars and other cars
- Ha: There is a difference in fuel-efficiency between compact cars and other cars
- set α = 0.05

> p-value = 1.31e-10 < α, reject H0

In [45]:
mpg_compact = mpg[mpg["class"] == "compact"].avg_mileage
mpg_not_compact = mpg[mpg["class"] != "compact"].avg_mileage

t_class = (stats.ttest_ind(mpg_compact , mpg_not_compact))
t_class

Ttest_indResult(statistic=6.731177612837954, pvalue=1.3059121585018135e-10)

Do manual cars get better gas mileage than automatic cars?
- H0: There is no difference in fuel-efficiency between manual and auto cars
- Ha: There is a difference in fuel-efficiency between manual and auto cars
- set α = 0.05

> p-value = 7.15e-6 < α, reject H0

In [48]:
manual_car = mpg[mpg["trans"].str.contains("man")].avg_mileage
auto_car = mpg[mpg["trans"].str.contains("auto")].avg_mileage
stats.ttest_ind(manual_car, auto_car)

Ttest_indResult(statistic=4.593437735750014, pvalue=7.154374401145683e-06)

In [36]:
mpg.trans = mpg.trans.str[:-4]

- $H0:$ automatic cars have the same city milage as the overall population
- $Ha:$ automatic cars DO NOT have the same city milage as the overall population

In [37]:
pop_city_mileage = mpg.cty.mean()
automatic_city_mileage = mpg[mpg.trans == "auto"].cty

In [38]:
stats.ttest_1samp(automatic_city_mileage, pop_city_mileage) #data type is tuple, can slice to get particular

Ttest_1sampResult(statistic=-2.9001322447463838, pvalue=0.004268839797630685)

𝐻0: VW average highway mileage same as the overall population
𝐻𝑎: VW DO NOT have the same average highway mileage as the overall population

In [ ]:
vw_why_mileage = mpg[mpg.manufacturer] == 'volkswagen'

**Use telco_churn data.**
- Does tenure correlate with monthly charges? Total charges? 
- What happens if you control for phone and internet service?

In [149]:
def get_db_url():
    url = f'mysql+pymysql://{user}:{password}@{host}/{database_name}'
    return url
from env import host, user, password
database_name = input("Input desired database name: ")
query = input("Key in the query ")
salary = pd.read_sql(query,get_db_url())
salary.head(5)

Input desired database name: employees
Key in the query select * from salaries

   emp_no  salary   from_date     to_date
0   10001   60117  1986-06-26  1987-06-26
1   10001   62102  1987-06-26  1988-06-25
2   10001   66074  1988-06-25  1989-06-25
3   10001   66596  1989-06-25  1990-06-25
4   10001   66961  1990-06-25  1991-06-25

In [33]:
r, p = stats.pearsonr(customer.tenure, customer.monthly_charges)
print(r,p)

0.24789985628615002 4.0940449915016345e-99

In [118]:
# plt.scatter(customer.tenure, customer.monthly_charges)
# plt.figure(figsize=(50,50))
# plt.show()

In [36]:
customer.dtypes

customer_id                  object
gender                       object
senior_citizen                int64
partner                      object
dependents                   object
tenure                        int64
phone_service                object
multiple_lines               object
internet_service_type_id      int64
online_security              object
online_backup                object
device_protection            object
tech_support                 object
streaming_tv                 object
streaming_movies             object
contract_type_id              int64
paperless_billing            object
payment_type_id               int64
monthly_charges             float64
total_charges                object
churn                        object
dtype: object

In [ ]:
customer.total_charges = customer.total_charges.str.replace(" ","")
customer.total_charges = pd.to_numeric(customer.total_charges)
customer.total_charges = customer.total_charges.astype(float)

In [53]:
customer.total_charges = customer.total_charges.dropna()

In [56]:
customer.total_charges = np.nan_to_num(customer.total_charges)

In [57]:
r, p = stats.pearsonr(customer.tenure, customer.total_charges)
print(r,p)
# the result that there's strong correlation between the two variables isn't statistically significance

0.8261783979502421 0.0

In [68]:
customer.dtypes

customer_id                  object
gender                       object
senior_citizen                int64
partner                      object
dependents                   object
tenure                        int64
phone_service                object
multiple_lines               object
internet_service_type_id      int64
online_security              object
online_backup                object
device_protection            object
tech_support                 object
streaming_tv                 object
streaming_movies             object
contract_type_id              int64
paperless_billing            object
payment_type_id               int64
monthly_charges             float64
total_charges               float64
churn                        object
dtype: object

In [83]:
# What happens if you control for phone and internet service?
mt = customer.groupby(["phone_service","internet_service_type_id"])[['monthly_charges','total_charges','tenure']].mean()
mt

                                        monthly_charges  total_charges  \
phone_service internet_service_type_id
No            1                               42.028592    1496.033651
Yes           1                               64.405894    2358.318516
              2                               91.500129    3205.304570
              3                               21.079194     662.604784

                                           tenure
phone_service internet_service_type_id
No            1                         31.737537
Yes           1                         33.246694
              2                         32.917959
              3                         30.547182

In [85]:
r, p = stats.pearsonr(mt.tenure, mt.total_charges)
print(r,p)

0.9060589119172646 0.09394108808273538

In [86]:
r, p = stats.pearsonr(mt.tenure, mt.monthly_charges)
print(r,p)

0.8803771317023603 0.11962286829763968

**Use employees database.**

- Is there a relationship between how long an employee has been with the company and their salary?
- Is there a relationship between how long an employee has been with the company and the number of titles they have had?

In [155]:
import datetime as dt
from datetime import timedelta

In [161]:
salary["now"] = pd.Timestamp.now().date()
salary["tenure"] = (salary.now - salary.from_date).dt.days.astype(float)
#salary.tenure = salary.tenure.str.strip(" days")
# salary.tenure = salary.tenure.astype(timedelta).map(lambda x: np.nan if pd.isnull(x) else x.days)
salary

         emp_no  salary   from_date     to_date         now   tenure
0         10001   60117  1986-06-26  1987-06-26  2019-10-07  12156.0
1         10001   62102  1987-06-26  1988-06-25  2019-10-07  11791.0
2         10001   66074  1988-06-25  1989-06-25  2019-10-07  11426.0
3         10001   66596  1989-06-25  1990-06-25  2019-10-07  11061.0
4         10001   66961  1990-06-25  1991-06-25  2019-10-07  10696.0
5         10001   71046  1991-06-25  1992-06-24  2019-10-07  10331.0
6         10001   74333  1992-06-24  1993-06-24  2019-10-07   9966.0
7         10001   75286  1993-06-24  1994-06-24  2019-10-07   9601.0
8         10001   75994  1994-06-24  1995-06-24  2019-10-07   9236.0
9         10001   76884  1995-06-24  1996-06-23  2019-10-07   8871.0
10        10001   80013  1996-06-23  1997-06-23  2019-10-07   8506.0
11        10001   81025  1997-06-23  1998-06-23  2019-10-07   8141.0
12        10001   81097  1998-06-23  1999-06-23  2019-10-07   7776.0
13        10001   84917  1999-06-23  2000-06-22  2019-10-07   7411.0
14        10001   85112  2000-06-22  2001-06-22  2019-10-07   7046.0
15        10001   85097  2001-06-22  2002-06-22  2019-10-07   6681.0
16        10001   88958  2002-06-22  9999-01-01  2019-10-07   6316.0
17        10002   65828  1996-08-03  1997-08-03  2019-10-07   8465.0
18        10002   65909  1997-08-03  1998-08-03  2019-10-07   8100.0
19        10002   67534  1998-08-03  1999-08-03  2019-10-07   7735.0
20        10002   69366  1999-08-03  2000-08-02  2019-10-07   7370.0
21        10002   71963  2000-08-02  2001-08-02  2019-10-07   7005.0
22        10002   72527  2001-08-02  9999-01-01  2019-10-07   6640.0
23        10003   40006  1995-12-03  1996-12-02  2019-10-07   8709.0
24        10003   43616  1996-12-02  1997-12-02  2019-10-07   8344.0
25        10003   43466  1997-12-02  1998-12-02  2019-10-07   7979.0
26        10003   43636  1998-12-02  1999-12-02  2019-10-07   7614.0
27        10003   43478  1999-12-02  2000-12-01  2019-10-07   7249.0
28        10003   43699  2000-12-01  2001-12-01  2019-10-07   6884.0
29        10003   43311  2001-12-01  9999-01-01  2019-10-07   6519.0
30        10004   40054  1986-12-01  1987-12-01  2019-10-07  11998.0
31        10004   42283  1987-12-01  1988-11-30  2019-10-07  11633.0
32        10004   42542  1988-11-30  1989-11-30  2019-10-07  11268.0
33        10004   46065  1989-11-30  1990-11-30  2019-10-07  10903.0
34        10004   48271  1990-11-30  1991-11-30  2019-10-07  10538.0
35        10004   50594  1991-11-30  1992-11-29  2019-10-07  10173.0
36        10004   52119  1992-11-29  1993-11-29  2019-10-07   9808.0
37        10004   54693  1993-11-29  1994-11-29  2019-10-07   9443.0
38        10004   58326  1994-11-29  1995-11-29  2019-10-07   9078.0
39        10004   60770  1995-11-29  1996-11-28  2019-10-07   8713.0
40        10004   62566  1996-11-28  1997-11-28  2019-10-07   8348.0
41        10004   64340  1997-11-28  1998-11-28  2019-10-07   7983.0
42        10004   67096  1998-11-28  1999-11-28  2019-10-07   7618.0
43        10004   69722  1999-11-28  2000-11-27  2019-10-07   7253.0
44        10004   70698  2000-11-27  2001-11-27  2019-10-07   6888.0
45        10004   74057  2001-11-27  9999-01-01  2019-10-07   6523.0
46        10005   78228  1989-09-12  1990-09-12  2019-10-07  10982.0
47        10005   82621  1990-09-12  1991-09-12  2019-10-07  10617.0
48        10005   83735  1991-09-12  1992-09-11  2019-10-07  10252.0
49        10005   85572  1992-09-11  1993-09-11  2019-10-07   9887.0
50        10005   85076  1993-09-11  1994-09-11  2019-10-07   9522.0
51        10005   86050  1994-09-11  1995-09-11  2019-10-07   9157.0
52        10005   88448  1995-09-11  1996-09-10  2019-10-07   8792.0
53        10005   88063  1996-09-10  1997-09-10  2019-10-07   8427.0
54        10005   89724  1997-09-10  1998-09-10  2019-10-07   8062.0
55        10005   90392  1998-09-10  1999-09-10  2019-10-07   7697.0
56        10005   90531  1999-09-10  2000-09-09  2019-10-07   7332.0
57        10005   91453  2000-09-09  2001-09-09  2019-10-07   6967.0
58        10005   94692  2001-09-09  9999-01-01  2019-10-07   6602.0
59        10006   40000  1990-08-05  1991-08-05  2019-10-07  10655.0
60        10006   42085  1991-08-05  1992-08-04  2019-10-07  10290.0
61        10006   42629  1992-08-04  1993-08-04  2019-10-07   9925.0
62        10006   45844  1993-08-04  1994-08-04  2019-10-07   9560.0
63        10006   47518  1994-08-04  1995-08-04  2019-10-07   9195.0
64        10006   47917  1995-08-04  1996-08-03  2019-10-07   8830.0
65        10006   52255  1996-08-03  1997-08-03  2019-10-07   8465.0
66        10006   53747  1997-08-03  1998-08-03  2019-10-07   8100.0
67        10006   56032  1998-08-03  1999-08-03  2019-10-07   7735.0
68        10006   58299  1999-08-03  2000-08-02  2019-10-07   7370.0
69        10006   60098  2000-08-02  2001-08-02  2019-10-07   7005.0
70        10006   59755  2001-08-02  9999-01-01  2019-10-07   6640.0
71        10007   56724  1989-02-10  1990-02-10  2019-10-07  11196.0
72        10007   60740  1990-02-10  1991-02-10  2019-10-07  10831.0
73        10007   62745  1991-02-10  1992-02-10  2019-10-07  10466.0
74        10007   63475  1992-02-10  1993-02-09  2019-10-07  10101.0
75        10007   63208  1993-02-09  1994-02-09  2019-10-07   9736.0
76        10007   64563  1994-02-09  1995-02-09  2019-10-07   9371.0
77        10007   68833  1995-02-09  1996-02-09  2019-10-07   9006.0
78        10007   70220  1996-02-09  1997-02-08  2019-10-07   8641.0
79        10007   73362  1997-02-08  1998-02-08  2019-10-07   8276.0
80        10007   75582  1998-02-08  1999-02-08  2019-10-07   7911.0
81        10007   79513  1999-02-08  2000-02-08  2019-10-07   7546.0
82        10007   80083  2000-02-08  2001-02-07  2019-10-07   7181.0
83        10007   84456  2001-02-07  2002-02-07  2019-10-07   6816.0
84        10007   88070  2002-02-07  9999-01-01  2019-10-07   6451.0
...         ...     ...         ...         ...         ...      ...
2843962  499988   88497  1996-07-23  1997-07-23  2019-10-07   8476.0
2843963  499988   92407  1997-07-23  1998-07-23  2019-10-07   8111.0
2843964  499988   93568  1998-07-23  1999-07-23  2019-10-07   7746.0
2843965  499988   96198  1999-07-23  2000-07-22  2019-10-07   7381.0
2843966  499988   98836  2000-07-22  2001-07-22  2019-10-07   7016.0
2843967  499988  102085  2001-07-22  2001-10-09  2019-10-07   6651.0
2843968  499989   64183  1996-10-29  1997-10-29  2019-10-07   8378.0
2843969  499989   68241  1997-10-29  1998-10-29  2019-10-07   8013.0
2843970  499989   68545  1998-10-29  1999-10-29  2019-10-07   7648.0
2843971  499989   69908  1999-10-29  2000-10-28  2019-10-07   7283.0
2843972  499989   70425  2000-10-28  2001-03-07  2019-10-07   6918.0
2843973  499990   40000  1999-10-28  2000-10-27  2019-10-07   7284.0
2843974  499990   44463  2000-10-27  2001-10-27  2019-10-07   6919.0
2843975  499990   45512  2001-10-27  9999-01-01  2019-10-07   6554.0
2843976  499991   43612  1997-02-11  1998-02-11  2019-10-07   8273.0
2843977  499991   45367  1998-02-11  1999-02-11  2019-10-07   7908.0
2843978  499991   46690  1999-02-11  2000-02-11  2019-10-07   7543.0
2843979  499991   49080  2000-02-11  2001-02-10  2019-10-07   7178.0
2843980  499991   49361  2001-02-10  2002-02-10  2019-10-07   6813.0
2843981  499991   52867  2002-02-10  9999-01-01  2019-10-07   6448.0
2843982  499992   43005  1987-05-10  1988-05-09  2019-10-07  11838.0
2843983  499992   47320  1988-05-09  1989-05-09  2019-10-07  11473.0
2843984  499992   50713  1989-05-09  1990-05-09  2019-10-07  11108.0
2843985  499992   52539  1990-05-09  1991-05-09  2019-10-07  10743.0
2843986  499992   56516  1991-05-09  1992-05-08  2019-10-07  10378.0
2843987  499992   59357  1992-05-08  1993-05-08  2019-10-07  10013.0
2843988  499992   63601  1993-05-08  1994-05-08  2019-10-07   9648.0
2843989  499992   64778  1994-05-08  1995-05-08  2019-10-07   9283.0
2843990  499992   65475  1995-05-08  1996-05-07  2019-10-07   8918.0
2843991  499992   69488  1996-05-07  1997-05-07  2019-10-07   8553.0
2843992  499992   72212  1997-05-07  1998-05-07  2019-10-07   8188.0
2843993  499992   71874  1998-05-07  1999-05-07  2019-10-07   7823.0
2843994  499992   73574  1999-05-07  2000-05-06  2019-10-07   7458.0
2843995  499992   76708  2000-05-06  2001-05-06  2019-10-07   7093.0
2843996  499992   79327  2001-05-06  2002-05-06  2019-10-07   6728.0
2843997  499992   80389  2002-05-06  9999-01-01  2019-10-07   6363.0
2843998  499993   40000  1997-04-07  1998-04-07  2019-10-07   8218.0
2843999  499993   39573  1998-04-07  1999-04-07  2019-10-07   7853.0
2844000  499993   39420  1999-04-07  2000-04-06  2019-10-07   7488.0
2844001  499993   39288  2000-04-06  2001-04-06  2019-10-07   7123.0
2844002  499993   43082  2001-04-06  2002-04-05  2019-10-07   6758.0
2844003  499993   44305  2002-04-05  9999-01-01  2019-10-07   6394.0
2844004  499994   40000  1993-02-22  1993-10-27  2019-10-07   9723.0
2844005  499995   40000  1997-06-02  1998-06-02  2019-10-07   8162.0
2844006  499995   43427  1998-06-02  1999-06-02  2019-10-07   7797.0
2844007  499995   43002  1999-06-02  2000-06-01  2019-10-07   7432.0
2844008  499995   46543  2000-06-01  2001-06-01  2019-10-07   7067.0
2844009  499995   49510  2001-06-01  2002-06-01  2019-10-07   6702.0
2844010  499995   52868  2002-06-01  9999-01-01  2019-10-07   6337.0
2844011  499996   58058  1996-05-13  1997-05-13  2019-10-07   8547.0
2844012  499996   59307  1997-05-13  1998-05-13  2019-10-07   8182.0
2844013  499996   62445  1998-05-13  1999-05-13  2019-10-07   7817.0
2844014  499996   62014  1999-05-13  2000-05-12  2019-10-07   7452.0
2844015  499996   64714  2000-05-12  2001-05-12  2019-10-07   7087.0
2844016  499996   65900  2001-05-12  2002-05-12  2019-10-07   6722.0
2844017  499996   69501  2002-05-12  9999-01-01  2019-10-07   6357.0
2844018  499997   49597  1987-08-30  1988-08-29  2019-10-07  11726.0
2844019  499997   50783  1988-08-29  1989-08-29  2019-10-07  11361.0
2844020  499997   51569  1989-08-29  1990-08-29  2019-10-07  10996.0
2844021  499997   53001  1990-08-29  1991-08-29  2019-10-07  10631.0
2844022  499997   55380  1991-08-29  1992-08-28  2019-10-07  10266.0
2844023  499997   59420  1992-08-28  1993-08-28  2019-10-07   9901.0
2844024  499997   62902  1993-08-28  1994-08-28  2019-10-07   9536.0
2844025  499997   66977  1994-08-28  1995-08-28  2019-10-07   9171.0
2844026  499997   69355  1995-08-28  1996-08-27  2019-10-07   8806.0
2844027  499997   73158  1996-08-27  1997-08-27  2019-10-07   8441.0
2844028  499997   76705  1997-08-27  1998-08-27  2019-10-07   8076.0
2844029  499997   79676  1998-08-27  1999-08-27  2019-10-07   7711.0
2844030  499997   82424  1999-08-27  2000-08-26  2019-10-07   7346.0
2844031  499997   82750  2000-08-26  2001-08-26  2019-10-07   6981.0
2844032  499997   83441  2001-08-26  9999-01-01  2019-10-07   6616.0
2844033  499998   40000  1993-12-27  1994-12-27  2019-10-07   9415.0
2844034  499998   42140  1994-12-27  1995-12-27  2019-10-07   9050.0
2844035  499998   42357  1995-12-27  1996-12-26  2019-10-07   8685.0
2844036  499998   45702  1996-12-26  1997-12-26  2019-10-07   8320.0
2844037  499998   46206  1997-12-26  1998-12-26  2019-10-07   7955.0
2844038  499998   47429  1998-12-26  1999-12-26  2019-10-07   7590.0
2844039  499998   49971  1999-12-26  2000-12-25  2019-10-07   7225.0
2844040  499998   51182  2000-12-25  2001-12-25  2019-10-07   6860.0
2844041  499998   55003  2001-12-25  9999-01-01  2019-10-07   6495.0
2844042  499999   63707  1997-11-30  1998-11-30  2019-10-07   7981.0
2844043  499999   67043  1998-11-30  1999-11-30  2019-10-07   7616.0
2844044  499999   70745  1999-11-30  2000-11-29  2019-10-07   7251.0
2844045  499999   74327  2000-11-29  2001-11-29  2019-10-07   6886.0
2844046  499999   77303  2001-11-29  9999-01-01  2019-10-07   6521.0

[2844047 rows x 6 columns]

In [162]:
salary.dtypes

emp_no         int64
salary         int64
from_date     object
to_date       object
now           object
tenure       float64
dtype: object

In [145]:
salary.now = pd.to_datetime(salary.now)
salary.now = salary['now'].dt.date
salary.dtypes

emp_no                int64
salary                int64
from_date    datetime64[ns]
to_date              object
now                  object
dtype: object

In [142]:
salary.now = salary['now'].dt.normalize()

AttributeError: Can only use .dt accessor with datetimelike values

- Is there a linear relationship between city mileage and highway mileage?

$H0:$ There is no linear relationship between city and highway mileage

$Ha:$ There is a linear relationship between city and highway mileage

In [5]:
x = mpg.hwy
y = mpg.cty
r, p = stats.pearsonr(x, y)
print(r,p)

0.9559159136495721 1.8683071952629614e-125

Is there a linear relationship between engine displacement(displ) and city mileage (cty)?

$H0:$ There is no linear relationship between engine displacement and city mileage

$Ha:$ There is linear relationship

In [9]:
x = mpg.displ
r,p = stats.pearsonr(x,y)
print("r = ",r, "p-value = ",p)
print("thus there is a negative correlation between engine displacement and city mileage, we reject H0")

r =  -0.7985239689348551 p-value =  4.737914890205637e-53
thus there is a negative correlation between engine displacement and city mileage, we reject H0