In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

np.random.seed(123)

In [36]:
# How likely is it that you roll doubles when rolling two dice?
dice_roll_num = 2
trial_num = 100_000

df = pd.DataFrame(np.random.choice([1,2,3,4,5,6], (trial_num, dice_roll_num)))
df.head()

# p_double

def row_vs(series):
    return series.iloc[0] == series.iloc[1]
    
print("The probability of roll doubles when rolling two dices is: {:.2f}".format(df.apply(row_vs, axis = 1).mean()))

The probability of roll doubles when rolling two dices is: 0.17

In [50]:
# If you flip 8 coins, what is the probability of getting exactly 3 heads? 
# What is the probability of getting more than 3 heads?
toss_coin_num = 8
trial_num = 10_000

df = pd.DataFrame(np.random.choice([1,2], (trial_num, toss_coin_num)))
# let 1 = head & 2 = Tail
df.head()

   0  1  2  3  4  5  6  7
0  2  1  2  1  1  2  1  1
1  2  2  1  1  2  2  2  2
2  2  1  2  2  1  2  2  1
3  2  1  2  2  1  1  1  1
4  2  1  1  1  1  2  1  1

In [51]:
# p_double

def coin_toss(series):
    counter = 0
    for c in series:
        if c == 1:
            counter += 1
    return counter == 3

def coin_get_more_than_3(series):
    counter = 0
    for c in series:
        if c == 1:
            counter += 1
    return counter >= 3
    
print("The probability of getting exactly 3 heads when flipping coins for 8 times: {:.2f}".format(df.apply(coin_toss, axis = 1).mean()))
print("The probability of getting more than 3 heads when flipping coins for 8 times: {:.2f}".format(df.apply(coin_get_more_than_3, axis = 1).mean()))

The probability of getting exactly 3 heads when flipping coins for 8 times: 0.22
The probability of getting more than 3 heads when flipping coins for 8 times: 0.85

In [59]:
# At Codeup, approximate cohort ratio --> web dev: DS = 3:1
# Assuming that Codeup randomly selects an alumni to put on a billboard, 
# what are the odds that the two billboards I drive past both have data science students 
# on them?

# Every billboard, 3/4 chance is WD and 1/4 is DS
# Probability of DS and then another DS --> 1/4 * 1/4

see_bb = 2
trial_num = 100_000

df = pd.DataFrame(np.random.choice([1,2,2,2], (trial_num, see_bb)))
# let 1 = DS & 2 = Web Dev
df.head()

   0  1
0  2  2
1  2  1
2  2  2
3  1  1
4  2  1

In [60]:
def see_bb(series):
    counter = 0
    for c in series:
        if c == 1:
            counter += 1
    return counter == 2
    
print("The probability seeing 2 consecutive Data Science students on billboard: {:.2f}".format(df.apply(see_bb, axis = 1).mean()))

The probability seeing 2 consecutive Data Science students on billboard: 0.06

In [124]:
# Codeup students buy, on average, 3 poptart packages (+- 1.5) a day 
# from the snack vending machine. 
# If on monday the machine is restocked with 17 poptart packages, 
# how likely is it that I will be able to buy some poptarts on Friday afternoon?

# use the known mean and std dev to simulate how many poptarts will be bought per day
mu, sigma = 3, 1.5 # mean and standard deviation

M = np.random.normal(mu, sigma, 100_000)
T = np.random.normal(mu, sigma, 100_000)
W = np.random.normal(mu, sigma, 100_000)
R = np.random.normal(mu, sigma, 100_000)
F = np.random.normal(mu, sigma, 100_000)

df = pd.DataFrame({'Monday': M,
                   'Tuesday': T,
                   'Wednesday': W,
                   'Thursday': R,
                   'Friday': F})
df[df < 0] = 0
df = df.round()
df.head()

   Monday  Tuesday  Wednesday  Thursday  Friday
0     4.0      4.0        4.0       2.0     3.0
1     0.0      2.0        3.0       4.0     5.0
2     0.0      3.0        1.0       0.0     4.0
3     0.0      4.0        3.0       3.0     3.0
4     3.0      5.0        4.0       3.0     5.0

In [125]:
print('Probability to be able to get a poptart on Friday: {:.2f}'.format(((df.apply(lambda row: sum(row.values), axis = 1)) <= 17).mean()))

Probability to be able to get a poptart on Friday: 0.77

In [95]:
# Compare Heights
# Men have an average height of 178 cm and standard deviation of 8cm.
# Women have a mean of 170, sd = 6cm.
# If a man and woman are chosen at random, P(woman taller than man)?


M = np.random.normal(178, 8, 100_000)
F = np.random.normal(170, 6, 100_000)

df = pd.DataFrame({'Male': M,
                   'Female': F})
df.head()

         Male      Female
0  185.310137  177.471769
1  185.753206  167.529318
2  202.160461  170.957482
3  186.571693  177.941917
4  185.604150  172.589826

In [121]:
print("The probability of women taller than men is: {:.2f}".format(df.apply(lambda row: row[1] > row[0] in row.values, axis = 1).mean()))

The probability of women taller than men is: 0.21

In [155]:
# When installing anaconda on a student's computer, 
# 1/250 (= 0.004 = 0.4%) chance that download is corrupted and the installation fails. 

# What are the odds that after having 50 students download anaconda, 
# no one has an installation issue? 100 students?


option = [0,1] # 0 = no problem, 1 = fail
M = np.random.choice(option, 50, p=[0.996, 0.004])
df = pd.DataFrame({'Rate': M})
percent = (df["Rate"].apply(lambda n: n == 0)).mean()*100
percent = str(percent) + '%'
percent
print('The probability that all 50 students successfully download Anaconda: {}'.format(percent))

The probability that all 50 students successfully download Anaconda: 100.0%

In [153]:
option = [0,1] # 0 = no problem, 1 = fail
M = np.random.choice(option, 100, p=[0.996, 0.004])
df = pd.DataFrame({'Rate': M})
percent = (df["Rate"].apply(lambda n: n == 0)).mean()*100
percent = str(percent) + '%'
percent
print('The probability that all 100 students successfully download Anaconda: {}'.format(percent))

The probability that all 100 students successfully download Anaconda: 100.0%

In [156]:
# What is the probability that we observe an installation issue within the 
# first 150 students that download anaconda?

option = [0,1] # 0 = no problem, 1 = fail
M = np.random.choice(option, 150, p=[0.996, 0.004])
df = pd.DataFrame({'Rate': M})
percent = (df["Rate"].apply(lambda n: n == 1)).mean()*100
percent = str(percent) + '%'
percent
print('The probability that an failure occurs within 150 students downloading Anaconda: {}'.format(percent))

The probability that an failure occurs within 150 students downloading Anaconda: 0.0%

In [159]:
# How likely is it that 450 students all download anaconda without an issue?
option = [0,1] # 0 = no problem, 1 = fail
M = np.random.choice(option, 450, p=[0.996, 0.004])
df = pd.DataFrame({'Rate': M})
percent = (df["Rate"].apply(lambda n: n == 0)).mean()*100
percent = str(percent) + '%'
percent
print('The probability that all 450 students successfully download Anaconda: {}'.format(percent))

The probability that all 450 students successfully download Anaconda: 99.55555555555556%

In [2]:
# 70% chance on any given day that there will be >= 1 food truck at Travis Park. 
# However, you haven't seen a food truck there in 3 days. How unlikely is this?
option = [0,1] # 0 = no food truck, 1 = with food truck
M = np.random.choice(option, 100_000, p=[0.3,0.7])
df = pd.DataFrame({'Food_Truck': M})

print("The probability of not seeing any food truck at Travis Park in 3 days is: {:.2f}".format((df.Food_Truck.rolling(3).sum() ==0 ).mean()))

The probability of not seeing any food truck at Travis Park in 3 days is: 0.03

In [11]:
# How likely is it that a food truck will show up sometime this week?

option = [0,1] # 0 = no food truck, 1 = with food truck
M = np.random.choice(option, 1_000_000, p=[0.3,0.7])
df = pd.DataFrame({'Food_Truck': M})

print("The probability of at least 1 food truck will showing up at Travis Park is: {}".format((df.Food_Truck.rolling(5).sum() >= 1).mean()))

The probability of at least 1 food truck will showing up at Travis Park is: 0.997592

In [25]:
# If 23 people are in the same room, what are the odds that two of them share a birthday? 
# What if it's 20 people? 40?
# 23 - 1 pair 23*(22/2)

# If you flip 8 coins, what is the probability of getting exactly 3 heads? 
# What is the probability of getting more than 3 heads?
person = 40
trial_num = 1_000_000

df = pd.DataFrame(np.random.uniform(0,365,(trial_num, person)))
df = df.round()
df.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,91.0,132.0,118.0,137.0,4.0,64.0,14.0,257.0,213.0,16.0,...,102.0,336.0,78.0,255.0,59.0,77.0,284.0,32.0,201.0,228.0
1,114.0,299.0,267.0,121.0,260.0,131.0,55.0,220.0,297.0,299.0,...,250.0,143.0,16.0,260.0,268.0,78.0,244.0,25.0,124.0,43.0
2,340.0,182.0,307.0,278.0,0.0,74.0,179.0,148.0,195.0,226.0,...,302.0,180.0,192.0,75.0,48.0,21.0,1.0,175.0,161.0,336.0
3,78.0,78.0,191.0,129.0,263.0,37.0,273.0,348.0,330.0,227.0,...,351.0,258.0,163.0,288.0,174.0,78.0,263.0,82.0,15.0,173.0
4,77.0,306.0,251.0,266.0,127.0,120.0,279.0,234.0,159.0,97.0,...,101.0,6.0,208.0,109.0,138.0,322.0,223.0,242.0,100.0,168.0

In [26]:
dup = df.duplicated()
dup

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
999970    False
999971    False
999972    False
999973    False
999974    False
999975    False
999976    False
999977    False
999978    False
999979    False
999980    False
999981    False
999982    False
999983    False
999984    False
999985    False
999986    False
999987    False
999988    False
999989    False
999990    False
999991    False
999992    False
999993    False
999994    False
999995    False
999996    False
999997    False
999998    False
999999    False
Length: 1000000, dtype: bool

In [23]:
dup = dup.mean()
print("Probability of people sharing same birthday within a population of 23 is: ", dup)

Probability of people sharing same birthday within a population of 23 is:  0.0

In [27]:
dup.describe()

count     1000000
unique          1
top         False
freq      1000000
dtype: object